# Environment variables - Contains secrets!
.env

# Google OAuth files - Contains sensitive session data and app secrets!
token.json
credentials.json

# Python virtual environment folder
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc

# OS-specific files (e.g., for macOS)
.DS_Store

# IDE-specific folders (e.g., for VS Code)
.vscode/
